.form-section {
  background-color: rgb(202, 211, 214);
}

h1 {
  text-align: center;
  padding-top: 20px;
}

.form-back {
  padding: 70px;
  display: flex;
  flex-direction: column; /* 縦並びに設定 */
  gap: 30px; /* 要素間のスペース */
  align-items: center; /* 中央揃え（必要に応じて） */
  font-size: 30px;
}

input {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 500px;
}

textarea {
  margin-left: 10px;
}

label {
  box-shadow: 10px 10px 15px -5px #777777;
  border-radius: 15px;
  padding: 10px 100px;
  display: flex;
  align-items: center;
  background-color: white;
}
