.main-container {
  display: flex;
  justify-content: space-around;
}
.left-pic {
  box-shadow: 10px 10px 15px -5px #777777;
  border-radius: 15px;
}
.left-figure {
  text-align: end;
  font-size: 20px;
  margin: 5px;
}
.left-figcaption {
  text-align: end;
  font-size: 20px;
  margin: 5px;
}
.right-pic {
  box-shadow: 10px 10px 15px -5px #777777;
  border-radius: 15px;
}
.right-figure {
}
.right-figcaption {
  text-align: end;
  font-size: 20px;
  margin: 5px;
}
